<div class="container">
    <div class="form-group">

        <div class="form-row h3">
            CONTACT / HELP DESK OF HOSPITAL <br>
        </div>

        <div class="form-row">
            Landline <input type="text" class="form-control">
        </div>

        <div class="form-row">
            Mobile No. <input type="text" class="form-control">
        </div>
        <br>
        <div class="form-row">
            <button class="btn btn-success">Submit</button>
        </div>

    </div>

</div>