<form>
    <div class="container top-buffer h5 head">
       Admin Validation page
    </div>
    <div class="container">
    <table>
        <tr ng-repeat="x in names">
          <td>Hospital ID</td>
          <td>Hospital Name</td>
        </tr>
        <tr>
            <td >asd </td>
            <td>asd </td>
        </tr>
      </table>
    </div>  
    <div class="form-group">
        <div class="row top-buffer">
            <div class="col col-md-22 text-center">
                <input class="btn btn-outline-cerner btn-xl" type="submit" value="Register" (click)="viewall()">
            </div>
        </div>
    </div> 
</form>
